n8n-workflows/CSIT - Auto Log to Sheets.json
{
  "name": "CSIT - Auto Log to Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csit-log",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "name": "Webhook"
    },
    
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI",
          "mode": "list",
          "cachedResultName": "csit-chatbot-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.body.timestamp }}",
            "user_id": "={{ $json.body.user_id }}",
            "question": "={{ $json.body.question }}",
            "answer": "={{ $json.body.answer }}",
            "route": "={{ $json.body.route }}",
            "answered": "={{ $json.body.answered }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "answered",
              "displayName": "answered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "8e38b572-44fc-4432-aba5-b72fc05b4b6d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gZknhJKjsEMz5a44",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3410291-811b-4dad-8aef-bed4fbb336af",
              "leftValue": "={{ $json.body.answered }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        304
      ],
      "id": "c75a599c-6219-468e-b7f7-c1168464677c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI",
          "mode": "list",
          "cachedResultName": "csit-chatbot-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 534542488,
          "mode": "list",
          "cachedResultName": "alerts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qNVki8LuVuEVTgSetxK0b50C9a-c5mulpIc7ko1_WeI/edit#gid=534542488"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "timestamp": "={{ $('Webhook').item.json.body.timestamp }}",
            "question": "={{ $('Webhook').item.json.body.question }}",
            "answer": "={{ $('Webhook').item.json.body.answer }}",
            "route": "={{ $('Webhook').item.json.body.route }}",
            "answered": "={{ $('Webhook').item.json.body.answered }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "answered",
              "displayName": "answered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        288
      ],
      "id": "f6f95405-c55c-4cbe-9581-72c7b5d6273a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gZknhJKjsEMz5a44",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0477dd8a-1752-4324-a38c-90ada924a5aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "455feb27268a58d65664372378acdb84e64ea8f278cdd1ada87aa38315a647f4"
  },
  "id": "LOOAXkIrxkebkeJx",
  "tags": []
}